body, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    flex-direction: column;
    user-select: none;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.container {
    width: 80%;
    max-width: 850px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.editorHeader {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.editorHeader ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;    
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.editorHeader li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.editorHeader li:first-child i{
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
} 
.editorHeader li:hover {
    background-color: #e0e0e0;
    border-radius: 4px;
}

.editorHeader select,
.editorHeader input {
    padding: 8px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.editorHeader select:focus,
.editorHeader input:focus {
    border-color: #007bff;
    outline: none;
}

.textContainer {
    width: 100%;
}

.textContainer textarea {
    width: 96%;
    height: 300px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    font-size: 16px;
    line-height: 1.5;
    transition: border-color 0.3s;
}

.textContainer textarea:focus {
    border-color: #007bff;
    outline: none;
}

#bold:hover, #italic:hover, #underline:hover {
    color: #007bff;
}
